
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/* ---------------HEADER------------------ */

body{
    overflow-x: hidden;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    margin-right: 10%;
}
li {
    font-family: 'Arial';
    font-weight: 500;
    font-size: 17px;   
}
.il{
  display: flex;
  margin-left: 8%;
}
.icon {
    width: 30px;
    height: 30px;

}
#burger {
    display: none;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

 @media screen and (max-width: 1024px) {
    ul {
        display: none  
    }
    #burger{
        display: flex;
        margin-right: 5%;
    }
  
    }
    @media screen and (max-width: 662px){
        .voyage_culinaire{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-left: 0;


        }
        
    }

header {
    background-color: #FFFFFF;
    position: sticky;
    width: 100%;
    top: 0;
    height: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    
}
.logo {
    margin-left: 20px;
} 
.icon:hover{
    animation: icon-animation 0.5s ease-in;
}
@keyframes icon-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* -------------VOYAGE_CULINAIRE---------------- */



.voyage_culinaire{
    background: url(../img/illustration_principale.jpg); 
    background-size: cover;
    
    width: 100%;
    padding-left:8% ;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; */
}
.voyage_culinaire h3 {
    font-family:'poppins-bold';
    text-transform:uppercase ;
    color:#DF6951 ;
    font-weight: 400;
    font-size: 20px;
    padding-top: 120px;
}
.voyage_culinaire h1 {
    font-family: 'volkhov-bold';
    font-weight: 400;
    font-size: 84px;
    color:#FFFFFF ;
    padding-top: 40px;  
    background-image: url(../img/souligne_rose.svg);
    background-repeat: no-repeat;
    background-position:1% 96%;
}
.voyage_culinaire p {
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color:#BFC0CD ;
    padding-top: 30px;
    line-height: 30px;
}
 button {
    font-family:'Arial';
    font-size: 18px;
    color:#F2F2F4 ;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color:#f1a501;
    cursor: pointer;
    transition: transform 0.2s;
    margin-bottom: 100px;
}
button:hover{
    transform: scale(1.1);
}
.voyage_culinaire button {
   margin-top: 30px;
}


/* ---------------DECOUVREZ---------------- */
.decouvrez{
    display: flex;
    flex-direction: column;
}


.decouvrez h4 {
    font-family:'poppins-regular';
    font-size: 18px;
    width:400 ;
    color:#5E6181 ;
    padding-top: 128px;
    text-align: center;
}
.decouvrez h2 {
    font-family: 'volkhov-bold';
    font-size: 50px;
    width: 400 ;
    color:#14183E ;
    text-align: center;
    margin-top: 20px;
}
.decouvrez p {
    font-family:'poppins-regular';
    font-size: 16px;
    color: #5E6282;
    line-height: 28px;  
}
.decouvrez h3 {
    font-family:'poppins-bold';
    font-weight: 400;
    font-size: 16px;
    color: #1E1D4C;
}
.plats {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
    background-image: url(../img/decoration_filet.svg);
    background-repeat: no-repeat;
    background-position: 74% 10%;
}
.plats img {
    border-radius: 20px 20px 0 0 ;
    width: 100%;
}
.plat1 {
    border-radius: 20px;
    gap: 30px;
    width: 281px;
    height: 406px;
    line-height: 28px;
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
}
.plat2 {
    border-radius: 20px;
    gap: 30px;
    width: 281px;
    line-height: 28px;
    height: 406px;
    box-shadow: 1px 2px 15px 2px rgba(8, 8, 8, 0.349);
}
.plat3 {
    border-radius: 20px;
    gap: 30px;
    width: 281px;
    line-height: 28px;
    height: 406px;
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
}
.maki {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
   
}
.maki article {
    position: relative;
    
}

.maki article::before{
content: url(../img/decoration_rose.svg); 
position: absolute;
left: -35px;
bottom: -35px;
opacity: 0;
rotate: -90deg;
z-index: -1;
transition: all 0.5s;

}
.maki article:hover{
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);  
    background-color: white;
}
.maki article:hover::before{
    transform: rotate(90deg);
    transition: transform 0.5s,opacity 0.5s;
    opacity: 1;
}

.tobiko {
    width: 267px;
    border-radius: 20px;
    height: 334px;
    
}

.rolls {
    width: 267px;
    border-radius: 20px;
       
}

.ebi {
    width: 267px;
    border-radius: 20px;
      
}

.ikura {
    width: 267px;
    border-radius: 20px;
       
}

.decouvrez {
    text-align: center;
    background-image: url(../img/decor_1.svg);
    background-repeat: no-repeat;
    background-position: 98% 2% ;
}
.maki p {
    margin-top: 20px;
}


/* -----------VOYAGE_GASTRONOMIQUE------------ */


.voyage_gastronomique{
    background-image: url(../img/cgefjpg\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1463px;
    width: 100%;
    margin-top: 100px;   
}
.voyage_gastronomique #visu {
    height: 164px;
    width: 305px;
    border-radius: 20px;
    margin-left: 155px;
    margin-top: 102px;
}
.vid {
    background-image: url(../img/visu_video.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:164px ;
    width: 306px;
    border-radius: 20px;
    position: relative;
    
}
.divdiv {
    padding-top: 100px;
    margin-left: 155px;
}
.vid img {
    position: absolute;
    left: 40%;
    bottom: 30%;
    background-color: #FFFFFF;
    border-radius: 50px;
    border-width: 50px;   
}  
.voyage_gastronomique h2 {
    font-family: 'volkhov-bold';
    font-size: 84px;
    color: #FFFFFF;
    margin-left: 155px;
    margin-top: 119px;
    background-image: url(../img/souligne_rose.svg);
    background-repeat: no-repeat;
    background-position: 0% 18%;
}
.voyage_gastronomique p {
    font-family:'poppins-regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 155px;
    margin-top: 76px;
}


/* ------------COMMANDEZ--------------- */



.commandez {
    background-image: url(../img/blanc\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1195px;
    width: 100%;
    position: relative;
}
.wrapper {
    position: absolute;
    bottom: 869px;
}
.commandez h3 {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color: #5E6181;
    text-transform: uppercase;
    margin-left: 155px;
    padding-top: 453px;
}
.commandez h2 {
    font-family: 'volkhov-regular';
    font-weight: 700;
    font-size: 50px;
    margin-left: 155px;
    margin-top: 28px;
}
span {
    color:#DF6951 ;
}
.uber {
    display: flex; 
    align-items: center; 
    margin-top: 62px;
    margin-left: 155px;
 }
.uber img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
.jadoo {
    display: flex; 
    align-items: center;
    margin-top: 47px;
    margin-left: 155px;
}
.jadoo img {
    height: 60px;
    width: 57px;
    margin-right: 20px;
}
.livraison img {
    margin-right: 20px;
}
.livraison {
    display: flex;
    align-items: center;
    margin-top: 52px;
    margin-left: 155px;
}
.commandez h4 {
    font-family:'poppins-bold';
    font-weight: 400;
    font-size: 16px;
}
.commandez p {
    font-family:'poppins-regular';
    font-size: 16px;
    font-weight: 500;
    color: #5E6282;
}
.commandez button {
    margin-left:156px ;
    margin-top: 30px;
}


/* --------------------CONTACT--------------- */


.contact h3 {
    font-family:'poppins-regular';
    font-weight: 600;
    font-size: 18px;
    color: #5E6181;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 126px;
}
.contact h2 {
    font-family: 'volkhov-regular';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.contact h4 {
    font-family:'poppins-regular';
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-top: 76px;
    margin-left: 50px;
}
.contact p {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 14px;
    color: #8d8d8d;
    margin-top: 30px;
    margin-left: 50px;
    line-height: 20px;
}
label {
    font-family:'poppins-regular';
    font-size: 16px;
    
} 
::placeholder {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 13px;
    color: #989898;
}
.grid_container img {
    height: 100%;
    width: 100%;
    border-radius: 0 30px 30px 0;
}
.grid_container {
    margin: 58px auto 0 auto;
    border-radius: 30px;
    
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
    width: 1020px;
    height: 580px;
    display: grid;
    grid-template-columns: 50% 50%;
}
form {
    margin-left: 50px;
}
.np {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
    margin-bottom: 30px;
}
#surname {
    width: 198px;
    margin-right: 15px;
    outline: none;
}
#firstname {
    width: 198px;
    outline: none;
}
#mail {
     width: 411px;
     margin-bottom: 30px;
     outline: none;
}

input {
   
    width: 411px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
}   
#bt {
    margin-top: 81px;
    margin-left: 30%;
    height: 53px;
    width: 140px;
    background-color:#1886FF ;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    background-image: url(../img/bouton_formulaire_coche.svg);
    background-repeat: no-repeat;
    background-position: 15%;
    font-size: 18px;
    padding-left: 20px;
}
#bt:hover {
    transform: scale(1.1);
}
input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
input:focus{

   border-bottom: solid #1886FF;
}
input:hover{
    transform: scale(1.03);
    
}
/* ----------------FOOTER---------------- */


footer {
    background-color:#F3F3F3 ;
    margin-top: 100px;
    height: 312px;
}
.foo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:#F3F3F3 ;

}

.jad {
   height:  273px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   width: 400px;
}
.res {
    height: 213px;
    width: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
    gap: 54px;
}
.ub {
    height:  273px ;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
footer p  {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #5E6282;
}
.icon2 {
    height: 49px;
}
.logo2 {
    margin-left: 20px;
    height: 49px;
}
.icjadoo {
    margin-bottom: 30px;
    margin-right: 60px;
}
.logo {
    font-family: serif;
}
footer h3 {
    font-family:'poppins-bold';
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
}
footer button {
    text-transform: uppercase;
    height: 40px;
    width: 130px;
    font-size: 10px;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
    border: none;
}
.droits {
   font-size: 14px; 
   text-align: center; 
   background-color:#F3F3F3 ;
}
.ub img {
    height: 30px;
}
.ub button img {
    height: 15px;
    margin-top: -14px;
}
.ub p {
    margin-bottom: 20px ;
}
.eats {
    margin-top: 30px;
    margin-bottom: 5px;
}
.butt {
    margin-top: 5px;
    margin-bottom: 37px;
}

