
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


/* ---------------HEADER------------------ */

body{
    overflow-x: hidden;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 30px;
    margin-right: 10%;
}
li {
    font-family: 'Arial';
    font-weight: 500;
    font-size: 17px;   
}
.il{
  display: flex;
  margin-left: 8%;
}
.icon {
    width: 30px;
    height: 30px;

}
#burger {
    display: none;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}



header {
    background-color: #FFFFFF;
    position: sticky;
    width: 100%;
    top: 0;
    height: 70px;
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 5;
    
}
.logo {
    margin-left: 20px;
} 
.icon:hover{
    animation: icon-animation 0.5s ease-in;
}
@keyframes icon-animation {
    20% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-10deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* -------------VOYAGE_CULINAIRE---------------- */



.voyage_culinaire{
    background: url(../img/illustration_principale.jpg); 
    background-size: cover;
    width: 100%; 
}
.block1{
    padding: 100px 8% ;
}
.voyage_culinaire h3 {
    font-family:'poppins-bold';
    text-transform:uppercase ;
    color:#DF6951 ;
    font-weight: 400;
    font-size: 20px;
    
}
.voyage_culinaire h1 {
    font-family: 'volkhov-bold';
    font-weight: 400;
    font-size: 84px;
    color:#FFFFFF ;
    padding-top: 40px;  
    background-image: url(../img/souligne_rose.svg);
    background-repeat: no-repeat;
    background-position:1% 96%;
}
.voyage_culinaire p {
    font-family: 'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color:#BFC0CD ;
    padding-top: 30px;
    line-height: 30px;
   
   
}
 button {
    font-family:'Arial';
    font-size: 18px;
    color:#F2F2F4 ;
    height: 50px;
    width: 180px;
    border-radius: 10px;
    border: none;
    background-color:#f1a501;
    cursor: pointer;
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.1);
}
.voyage_culinaire button {
   margin-top: 30px;
}
@media screen and (max-width: 1024px) {
    ul {
        display: none  
    }
    #burger{
        display: flex;
        margin-right: 5%;
    }
  
    }
    @media screen and (max-width: 662px){
        .voyage_culinaire{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding-left: 0%;
        }
        .voyage_culinaire h1 {
            font-size: 45px;  
        }
    }


/* ---------------DECOUVREZ---------------- */
.decouvrez{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url(../img/decor_1.svg);
    background-repeat: no-repeat;
    background-position: 98% 2% ;
}
.block2 {
    padding: 100px 8% ;
    width: 100%;
}


.decouvrez h4 {
    font-family:'poppins-regular';
    font-size: 18px;
    color:#5E6181 ;
    text-align: center;
}
.decouvrez h2 {
    font-family: 'volkhov-bold';
    font-size: 50px;
    color:#14183E ;
    text-align: center;
    margin-top: 20px;
}
.decouvrez p {
    font-family:'poppins-regular';
    font-size: 16px;
    color: #5E6282;
    line-height: 28px;  
}
.decouvrez h3 {
    font-family:'poppins-bold';
    font-weight: 400;
    font-size: 16px;
    color: #1E1D4C;
}
.plats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
    background-image: url(../img/decoration_filet.svg);
    background-repeat: no-repeat;
    background-position: 74% 10%;
}
.plats img {
    border-radius: 20px 20px 0 0 ;
    width: 100%;
}
.plat1 {
    border-radius: 20px;
    gap: 30px;
    width: 281px;
    height: 406px;
    line-height: 28px;
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
}
.plat2 {
    border-radius: 20px;
    gap: 30px;
    width: 281px;
    line-height: 28px;
    height: 406px;
    box-shadow: 1px 2px 15px 2px rgba(8, 8, 8, 0.349);
}
.plat3 {
    border-radius: 20px;
    gap: 30px;
    width: 281px;
    line-height: 28px;
    height: 406px;
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
}
@media screen and (max-width: 450px) {
.plats{
    display: flex;
    flex-direction: row;
}

.plat1 {
    animation: animation-carte-1 19.5s 0s infinite;
}

.plat2 {
    animation: animation-carte-2 19.5s 0s infinite;
}

.plat3 {
    animation: animation-carte-3 19.5s 0s infinite;
}
@keyframes animation-carte-1 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    2.25% {
        opacity: 1;
        transform: translateX(0);
    }

    33% {
        opacity: 1;
        transform: translateX(0);
    }

    35.25% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes animation-carte-2 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    35.25% {
        opacity: 0;
        transform: translateX(50%);
    }

    37.5% {
        opacity: 1;
        transform: translateX(0);
    }

    66% {
        opacity: 1;
        transform: translateX(0);
    }

    68.25% {
        opacity: 0;
        transform: translateX(-50%);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}

@keyframes animation-carte-3 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }

    68.25% {
        opacity: 0;
        transform: translateX(50%);
    }

    70.5% {
        opacity: 1;
        transform: translateX(0);
    }

    97.75% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50%);
    }
}
}
.maki {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
   height: 400px; 
}
.maki article {
    position: relative;    
}
.maki article::before{
content: url(../img/decoration_rose.svg); 
position: absolute;
left: -35px;
bottom: -35px;
opacity: 0;
rotate: -90deg;
z-index: -1;
transition: all 0.5s;
}
.maki article:hover{
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);  
    background-color: white;
}
.maki article:hover::before{
    transform: rotate(90deg);
    transition: transform 0.5s,opacity 0.5s;
    opacity: 1;
}
.tobiko {
    width: 267px;
    border-radius: 20px;    
}
.rolls {
    width: 267px;
    border-radius: 20px;       
}
.ebi {
    width: 267px;
    border-radius: 20px;      
}
.ikura {
    width: 267px;
    border-radius: 20px;       
}
.maki p {
    margin-top: 20px;
}
.decouvrez button{
    text-align: center;
}

@media screen and (max-width: 1139px){
    .plats{
        display: flex;
        justify-content: center;
        width: 100%;
        background: none;
    }  
}
@media screen and (max-width: 766px){
    .decouvrez{
    background: none;
    }  
}
@media screen and (max-width: 637px){
    .maki img{
        height: 110px;
        width: 110px;
    }
    
    article {
        display: flex;
        flex-direction: row; 
        margin-left: 50px;
    }
    .tobiko{
        width: 100%;
    }
    .rolls {
        width: 100%;
    }
    .ebi{
        width: 100%;
    }
    .ikura{
        width: 100%;
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .description br {
        display: none;
    }  
}
@media screen and (max-width: 539px){
    article{
        margin-left: 0px;   
    }
    .description {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    
    }  


/* -----------VOYAGE_GASTRONOMIQUE------------ */


.voyage_gastronomique{
    background-image: url(../img/illustration_chef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
 
    display: flex;
    flex-direction: column;  
    width: 100%;
   
}
.block3 {
    padding: 100px 104px 426px 104px;
    position: relative;
}


.vid{
    display: flex;
   
   position: relative;
    width: 306px;
    height: 164px;
    
    

}
.vid > img {
    height: 164px;
    width: 306px;
    border-radius: 20px;
    

}
.play {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    
    border-radius: 50%;
    width: 77px;
    height: 77px;
    cursor: pointer;
}

.voyage_gastronomique h2 {
    font-family: 'volkhov-bold';
    font-size: 84px;
    color: #FFFFFF;
    
    margin-top: 119px;
    background-image: url(../img/souligne_rose.svg);
    background-repeat: no-repeat;
    background-position: 0% 18%;
}
.voyage_gastronomique p {
    font-family:'poppins-regular';
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;
    
    margin-top: 76px;
    
}
.chef{
    display: none;
}


@media screen and (max-width: 659px) {
   .voyage_gastronomique{
        margin-top: 0px;
        background-image:none;
        
    }
    .block3{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    
    .voyage_gastronomique h2 {
        font-family: 'volkhov-bold';
        font-size: 74px;
        background-image: none;
        
    }
    .voyage_gastronomique p{
        display: none;
    }
 
    .vid{
        display: flex;
       
       position: relative;
        width: 100%;
        height: 100%;
        
        
    
    }
    .voyage_gastronomique h2 {    
       display: none;    
    }
    .chef img{
        width: 100%;
    }
   .chef{
    display: flex;
    width: 100%;
   }
    
   
     .vid img {
        width: 100%;
        height: 100%;
        border-radius: 0px;
     }
}




/* ------------COMMANDEZ--------------- */



.commandez {
    background-image: url(../img/illustration_commander.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
}

.commandez h3 {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 16px;
    color: #5E6181;
    text-transform: uppercase;
    margin-left: 155px;
    padding-top: 450px;
}
.commandez h2 {
    font-family: 'volkhov-regular';
    font-weight: 700;
    font-size: 50px;
    margin-left: 155px;
    margin-top: 28px;
}
span {
    color:#DF6951 ;
}
.uber {
    display: flex; 
    align-items: center; 
    margin-top: 62px;
    margin-left: 155px;
 }
.uber img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
.jadoo {
    display: flex; 
    align-items: center;
    margin-top: 47px;
    margin-left: 155px;
}
.jadoo img {
    height: 60px;
    width: 57px;
    margin-right: 20px;
}
.livraison img {
    margin-right: 20px;
}
.livraison {
    display: flex;
    align-items: center;
    margin-top: 52px;
    margin-left: 155px;
}
.commandez h4 {
    font-family:'poppins-bold';
    font-weight: 400;
    font-size: 16px;
}
.commandez p {
    font-family:'poppins-regular';
    font-size: 16px;
    font-weight: 500;
    color: #5E6282;
}
.commandez button {
    margin-left:156px ;
    margin-top: 30px;
    margin-bottom: 100px;
}
.wrapper{
    display: flex;
    position: absolute;
    top: -340px;
}
@media screen and (max-width: 659px) {
.commandez {
    background: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: static;
    bottom: 0;
}

.commandez h3 {
    margin: 0;
    text-align: center;
    padding-top: 70px;
    
}
.commandez h2 {
    margin-left: 0px;
    text-align: center;
    
}
.uber {
    
    margin-left: 50px;
 }
 .jadoo {
    
    margin-left: 50px;
}
.livraison {
    margin-left: 50px;
}
.commandez button {
    margin-left: 50px;
 }
}
   @media screen and (max-width: 450px) {
    .uber {
    
        margin-left: 20px;
     }
     .jadoo {
        
        margin-left: 20px;
    }
    .livraison {
        margin-left: 20px;
    }
    .commandez button {
        margin-left: 20px;
     }
   }

/* --------------------CONTACT--------------- */


.contact h3 {
    font-family:'poppins-regular';
    font-weight: 600;
    font-size: 18px;
    color: #5E6181;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 126px;
}
.contact h2 {
    font-family: 'volkhov-regular';
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}
.contact h4 {
    font-family:'poppins-regular';
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    margin-top: 76px;
    margin-left: 50px;
}
.contact p {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 14px;
    color: #8d8d8d;
    margin-top: 30px;
    margin-left: 50px;
    line-height: 20px;
}
label {
    font-family:'poppins-regular';
    font-size: 16px;
    
} 
::placeholder {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 13px;
    color: #989898;
}

.grid{
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid_container {
    margin: 58px auto 0 auto;
    border-radius: 30px;
    
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,0.5);
    width: px;
    height: 580px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid_container img {
    height: 580px;
    width: 100%;
    border-radius: 0 30px 30px 0;
}
form {
    margin-left: 50px;
    margin-right: 50px;
}
.np {
    display: flex;
    margin-top: 26px;
    margin-bottom: 30px;
}
#surname {
    width: 95%;
    margin-right: 15px;
    outline: none;
}
#firstname {
    width: 100%;
    outline: none;
}
#mail {
     width: 100%;
     margin-bottom: 30px;
     outline: none;
}

input {
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    border-width: 1px;
}   
#bt {
    margin-top: 81px;
    margin-left: 30%;
    height: 53px;
    width: 140px;
    background-color:#1886FF ;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    background-image: url(../img/bouton_formulaire_coche.svg);
    background-repeat: no-repeat;
    background-position: 15%;
    font-size: 18px;
    padding-left: 20px;
}
#bt:hover {
    transform: scale(1.1);
}
input {
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
input:focus{

   border-bottom: solid #1886FF;
}
input:hover{
    transform: scale(1.03);
    
}


@media screen and (max-width: 659px) {
.grid_container {
    margin: 58px 0 ;
    width: 100%;
    border:none;
    border-radius: 0;
    box-shadow: none;
    display: grid;
    grid-template-columns: 100%;
}
.grid_container img {
    display: none;
}
.contact h2 {
    font-family: 'volkhov-bold';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}
.contact h4 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
.contact p {
   text-align: center;
   margin: 0;
}
.np {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
#surname {
    width: 100%;
    
}
}
@media screen and (max-width: 383px) {
    form {
        margin: 10px  ;
        
    }
}

/* ----------------FOOTER---------------- */


footer {
    background-color:#F3F3F3 ;
    margin-top: 100px;
    height: 312px;
}
.foo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color:#F3F3F3 ;

}

.jad {
   height:  273px ;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   width: 400px;
}
.res {
    height: 213px;
    width: 800px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px;
    gap: 54px;
}
.ub {
    height:  100% ;
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p  {
    font-family:'poppins-regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #5E6282;
}
.icon2 {
    height: 49px;
}
.logo2 {
    margin-left: 20px;
    height: 49px;
}
.icjadoo {
    margin-bottom: 30px;
    margin-right: 60px;
}
.logo {
    font-family: serif;
}
footer h3 {
    font-family:'poppins-bold';
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 20px;
}
footer button {
    text-transform: uppercase;
    height: 40px;
    width: 130px;
    font-size: 10px;
    text-align: center;
    background-color: #000000;
    border-radius: 20px;
    border: none;
}
.droits {
   font-size: 14px; 
   text-align: center; 
   background-color:#F3F3F3 ;
}
.ub img {
    height: 30px;
}
.ub button img {
    height: 15px;
    margin-top: -14px;
}
.ub p {
    margin-bottom: 20px ;
}
.eats {
    margin-top: 30px;
    margin-bottom: 5px;
}
.butt {
    margin-top: 5px;
    
}
@media screen and (max-width: 659px) {
    footer {
        height: 703px;    
    }
    .foo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
    .icjadoo{
        display: flex;
       justify-content: center;
       margin: 0;
       margin-bottom: 15px;
    }
    .jad  {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .res {
        width: 100%;
    }
    .ub {
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0;
    }
}
